<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szczegóły Książki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ book.title }}</h1>
        <img src="{{ url_for('static', filename=book.cover) }}" alt="Okładka" width="100">
        <p><strong>Autor:</strong> {{ book.author }}</p>
        <p><strong>Rok:</strong> {{ book.year }}</p>
        <p><strong>Kategoria:</strong> {{ book.category }}</p>
        <a href="{{ url_for('index') }}"><button>Powrót do Biblioteki</button></a>
    </div>
</body>
</html>
